---
import Layout from "../../../../layouts/Layout.astro";
import { CLOUD_MODE } from "../../../../utils/dataMode";

const { dataMode, profile, setGlobalMessage } = Astro.locals;

if (!(dataMode === CLOUD_MODE && profile)) {
  setGlobalMessage([
    {
      type: "error",
      message: "您尚未建立個人檔案。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——修改帳號</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main">
      <h1>修改帳號</h1>

      <form action="/form/profile/name/edit" method="post">
        <label for="name">帳號：</label>
        <span class="sign-up-form-hint" id="sign-up-form-name-hint"
          >至少使用一個字元，僅能使用小寫字母、數字、底線<span aria-label=" "
            >（_）</span
          >
        </span>
        <input
          type="text"
          name="name"
          id="name"
          required
          aria-describedby="sign-up-form-name-hint"
          pattern="[a-z0-9_]+"
        />
        <button type="submit">送出</button>
      </form>
    </main>
  </Fragment>
</Layout>
