---
import Layout from "../../../../layouts/Layout.astro";
import { CLOUD_MODE } from "../../../../utils/dataMode";

const { dataMode, profile, setGlobalMessage } = Astro.locals;

if (!(dataMode === CLOUD_MODE && profile)) {
  setGlobalMessage([
    {
      type: "error",
      message: "您尚未建立個人檔案。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——修改性別</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main">
      <h1>修改性別</h1>

      <form action="/form/profile/gender/edit" method="post">
        <input type="hidden" value={profile.birthDate} name="birthDate" />

        <fieldset>
          <legend>性別：</legend>

          <input
            type="radio"
            id="male-radio-input"
            name="gender"
            value="Male"
            checked={profile.gender === "Male"}
            required
          />
          <label for="male-radio-input">男</label><br />

          <input
            type="radio"
            id="female-radio-input"
            name="gender"
            value="Female"
            checked={profile.gender === "Female"}
            required
          />
          <label for="female-radio-input">女</label><br />
        </fieldset>
        <button type="submit">送出</button>
      </form>
    </main>
  </Fragment>
</Layout>
