---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——介紹</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="about-heading">
      <h1 id="about-heading">健康小健<span class="sr-only">介紹</span></h1>

      <section aria-labelledby="about-main-introduction-heading">
        <section>
          <h2 id="about-main-introduction-heading">功能簡介</h2>

          <p>
            小健是一個能協助你定期記錄你的健康相關數據，體重、體脂、腰圍等的工具。
          </p>

          <a href="/select_data_mode">開始使用</a>
        </section>

        <section>
          <h2 id="about-own-your-data-heading">掌握自己的資料</h2>

          <p>
            資料儲存可以選擇雲端模式（需連線，儲存在伺服器）或離線模式（可離線使用，只存放在自己的裝置。）一切都尊照你的選擇。
          </p>
        </section>

        <section>
          <h2 id="about-is-csv-heading">
            就只是
            <span lang="en">
              <abbr title="Comma-separated Values">CSV</abbr>（Comma-separated
              Values）
            </span>
             而已
          </h2>

          <p>
            <span lang="en"
              ><abbr title="Comma-separated Values">CSV</abbr><span
                aria-hidden="true">（Comma-separated Values）</span
              ></span
            >是小健儲存資料的檔案格式，你也許對這個格式不熟悉，但你使可以用<span
              lang="en">Microsoft Excel</span
            >來打開它。換句話說，哪一天你不想再始用小健了，你依然可以繼續編輯你的資料。
          </p>
        </section>

        <section>
          <h2 id="about-pricacy-matters-heading">在乎隱私</h2>

          <p>可以不留下個人資料，只記錄必要的資訊。</p>
        </section>

        <section>
          <h2 id="about-open-source-heading">公開透明</h2>

          <p>
            開放源始碼，可以完整的了解小健是如何運作的。如果不放心，也可以架設自己的伺服器。
          </p>
        </section>
      </section>

      <footer>
        <nav>
          <a href="#">前往App頁面</a>
          <a href="#">觀看原始碼</a>
          <a href="#">聯絡作者</a>
        </nav>
      </footer>
    </main>
  </Fragment>
</Layout>
