---
// @ts-nocheck
import Layout from "../../../layouts/Layout.astro";
import HealthRecordForm from "../../../components/HealthRecordForm.astro";
import { CLOUD_MODE } from "../../../utils/dataMode";
import { EDIT_MODE } from "../../../utils/formMode";
import * as R from "ramda";

if (!(Astro.locals.dataMode === CLOUD_MODE && Astro.locals.profile)) {
  Astro.locals.setGlobalMessage([
    {
      type: "error",
      message: "您需要先建立個人檔案，才能開始其它操作。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}

const healthRecordGetResponse = await fetch(
  `${import.meta.env.API_URL}/health_records?from=${Astro.params.date}&to=${
    Astro.params.date
  }`,
  {
    method: "GET",
    headers: new Headers({
      Cookie: Astro.locals.cookieHeader,
    }),
  },
);
const healthRecordGetJsonData = await healthRecordGetResponse.json();
let date, heightCm, weightKg, bodyFatPercentage, waistlineCm;

switch (healthRecordGetResponse.status) {
  case 200:
    if (R.isEmpty(healthRecordGetJsonData.payload)) {
      Astro.locals.setGlobalMessage([
        {
          type: "error",
          message: `找不到${Astro.params.date}的記錄。`,
        },
      ]);
      return Astro.redirect(`/health_records`, 303);
    }
    [{ date, heightCm, weightKg, bodyFatPercentage, waistlineCm }] =
      healthRecordGetJsonData.payload;
    break;
  default:
    Astro.locals.setGlobalMessage(Astro.locals.err500Message);
    return Astro.redirect(`/health_records`, 303);
}
---

<script>
  const deleteConfirmDialogElement = document.getElementById(
    "delete-confirm-dialog",
  );

  const deleteHealthRecordLinkElement = document.getElementById(
    "delete-health-record-link",
  );
  deleteHealthRecordLinkElement.setAttribute("role", "button");

  deleteHealthRecordLinkElement.addEventListener(
    "click",
    function showDeleteConfirmDialog(event) {
      event.preventDefault();
      deleteConfirmDialogElement.showModal();
    },
  );
</script>

<Layout>
  <Fragment slot="head">
    <title>健康小健——編輯{date}健康記錄</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="create-health-record-heading">
      <h1 id="create-health-record-heading">
        編輯{date}健康記錄
      </h1>

      <section aria-labelledby="create-health-record-form-section-heading">
        <h2 id="create-health-record-form-section-heading">編輯健康記錄表單</h2>

        <HealthRecordForm
          dataMode={EDIT_MODE}
          date={date}
          heightCm={heightCm}
          weightKg={weightKg}
          bodyFatPercentage={bodyFatPercentage}
          waistlineCm={waistlineCm}
        />
      </section>

      <a
        id="delete-health-record-link"
        aria-haspopup="dialog"
        href=`/health_record/delete/${date}`>刪除記錄</a
      >

      <dialog
        id="delete-confirm-dialog"
        aria-labelledby="delete-confirm-dialog-heading"
      >
        <span id="delete-confirm-dialog-heading" tabindex="-1" autofocus>
          確認是否刪除{date}記錄
        </span>

        <form action=`/form/health_record/delete/${date}` method="post">
          <button type="submit">刪除</button>
          <button formmethod="dialog">取消</button>
        </form>
      </dialog>
    </main>
  </Fragment>
</Layout>
