---
import Layout from "../../../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——匯入多筆健康記錄</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="health-records-file-import-heading">
      <h1 id="health-records-file-import-heading">匯入多筆健康記錄（CSV）</h1>

      <p>
        <span lang="en"
          ><abbr title="Comma-separated Values">CSV</abbr><span
            aria-hidden="true">（Comma-separated Values）</span
          ></span
        >是小健儲存資料的檔案格式，你也許對這個格式不熟悉，但你可以使用<span
          lang="en">Microsoft Excel</span
        >來打開它。
      </p>

      <section aria-labelledby="health-records-import-form-heading">
        <h2 id="health-records-import-form-heading">
          匯入<span lang="en">CSV</span>表單
        </h2>

        <form
          action="/form/health_records/import"
          method="post"
          enctype="multipart/form-data"
          aria-labelledby="health-records-import-form-heading"
        >
          <label for="health-records-file-input">健康記錄CSV檔</label>
          <input
            type="file"
            name="health_record_csv"
            id="health-records-file-input"
            accept="text/csv,*.csv"
            required
          />

          <button type="submit">匯入</button>
        </form>
      </section>
    </main>
  </Fragment>
</Layout>
