---
// @ts-nocheck
import Layout from "../../layouts/Layout.astro";
import HealthRecordsChart from "../../components/HealthRecordsChart.astro";
import { CLOUD_MODE } from "../../utils/dataMode";
import * as R from "ramda";
import { isMatch, add, format } from "date-fns";

if (!(Astro.locals.dataMode === CLOUD_MODE && Astro.locals.profile)) {
  Astro.locals.setGlobalMessage([
    {
      type: "error",
      message: "您需要先建立個人檔案，才能開始其它操作。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}
const params = Astro.url.searchParams;
const paramFrom = params.get("from");
const paramTo = params.get("to");

const apiUrlWithParams = R.curry(fetchGetHealthRecordUrlWithQueryParams)(
  R.__,
  paramFrom,
  paramTo,
);

const fetchResponses = await Promise.all(
  R.juxt([
    R.applyTo(`${import.meta.env.API_URL}/health_records/chart/weightKg`),
    R.applyTo(`${import.meta.env.API_URL}/health_records/chart/bmi`),
    R.applyTo(
      `${import.meta.env.API_URL}/health_records/chart/bodyFatPercentage`,
    ),
    R.applyTo(`${import.meta.env.API_URL}/health_records/chart/waistlineCm`),
    R.applyTo(`${import.meta.env.API_URL}/health_records`),
  ])((url) =>
    fetch(apiUrlWithParams(url), {
      method: "GET",
      headers: new Headers({
        Cookie: Astro.locals.cookieHeader,
      }),
    }),
  ),
);

const [
  { payload: weightKgChartData },
  { payload: bmiChartData },
  { payload: bodyFatPercentageChartData },
  { payload: waistlineCmChartData },
  { payload: healthRecords = [] },
] = await Promise.all(R.map((res) => res.json(), fetchResponses));

const chartsData = [
  { ...weightKgChartData, healthIndicatorClassName: "weight-kg" },
  { ...bmiChartData, healthIndicatorClassName: "bmi" },
  {
    ...bodyFatPercentageChartData,
    healthIndicatorClassName: "body-fat-percentage",
  },
  { ...waistlineCmChartData, healthIndicatorClassName: "waistline-cm" },
];

const [last7Day, last1Month] = R.juxt([
  getIsoDateStringByAdd({ days: -7 }),
  getIsoDateStringByAdd({ months: -1 }),
])(new Date());

const isHasNoHealthRecordAtAll =
  R.isEmpty(healthRecords) && isEmptyOrNil(paramFrom) && isEmptyOrNil(paramTo);

const [today] = new Date().toISOString().split("T");

const fromInputValue = isEmptyOrNil(paramFrom)
  ? R.compose(R.prop("date"), R.last)(healthRecords)
  : paramFrom;
const toInputValue = isEmptyOrNil(paramTo) ? today : paramTo;

const last7DaySearchUrl = new URL(Astro.url.pathname, Astro.url.origin);
last7DaySearchUrl.searchParams.append("from", last7Day);

const last1MonthSearchUrl = new URL(Astro.url.pathname, Astro.url.origin);
last1MonthSearchUrl.searchParams.append("from", last1Month);

const isPageShowAllHealthRecords = R.and(R.isNil(paramFrom), R.isNil(paramTo));
const isPageShowLast7DayHealthRecords = R.equals(paramFrom)(last7Day);
const isPageShowLast1MonthHealthRecords = R.equals(paramFrom)(last1Month);

function fetchGetHealthRecordUrlWithQueryParams(apiUrl, from, to) {
  const urlObject = new URL(apiUrl);
  R.when(isValidSearchParam, (from) =>
    urlObject.searchParams.append("from", from),
  )(from);
  R.when(isValidSearchParam, (to) => urlObject.searchParams.append("to", to))(
    to,
  );
  return urlObject;
}

function isValidSearchParam(dateString) {
  return R.allPass([R.isNotNil, R.curry(isMatch)(R.__, "yyyy-MM-dd", {})])(
    dateString,
  );
}

function getIsoDateStringByAdd(addOption) {
  return R.compose(
    R.curry(format)(R.__, "yyyy-MM-dd", {}),
    R.curry(add)(R.__, addOption),
  );
}

function isEmptyOrNil(v) {
  return R.or(R.isEmpty(v), R.isNil(v));
}
---

<script>
  import * as R from "ramda";
  import { main } from "../../../output/Page.HealthRecords";
  main();

  const chartTypeListItemElements =
    document.querySelectorAll(".chart-type-link");
  const currentChartUrlHash = new Proxy(
    { hashValue: null },
    {
      set(obj, prop, value) {
        switch (prop) {
          case "hashValue":
            R.forEach((e) => {
              e.removeAttribute("aria-current");
            }, chartTypeListItemElements);

            (
              document.querySelector(`a[href="${value}"]`) ??
              document.getElementById("default-chart-type-link")
            ).setAttribute("aria-current", "true");
            return Reflect.set(obj, prop, value);
          default:
            return Reflect.set(obj, prop, value);
        }
      },
    },
  );

  updateCurrentChartUrlHashByLocation();
  addEventListener("hashchange", updateCurrentChartUrlHashByLocation);

  function updateCurrentChartUrlHashByLocation() {
    if (
      R.includes(window.location.hash, [
        "",
        "#weight-kg-chart-figure",
        "#bmi-chart-figure",
        "#body-fat-percentage-chart-figure",
        "#waistline-cm-chart-figure",
      ])
    ) {
      currentChartUrlHash.hashValue = window.location.hash;
    }
  }
</script>

<Layout>
  <Fragment slot="head">
    <title>健康小健——檢視健康記錄</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="health-records-heading">
      <h1 id="health-records-heading">檢視健康記錄</h1>
      {
        R.isEmpty(healthRecords) ? (
          isHasNoHealthRecordAtAll ? (
            <p>
              你目前沒有任何健康記錄，您可以開始
              <a href="#create-data-nav-heading">建立記錄</a>。
            </p>
          ) : (
            <p>
              目前篩選區間沒有健康記錄，請重新進行
              <a href="#health-records-filter-form-heading">篩選</a>。
            </p>
          )
        ) : (
          <>
            <section aria-labelledby="health-records-chart-heading">
              <h2 id="health-records-chart-heading">健康記錄圖表</h2>

              <ul id="chart-type-list" aria-label="圖表類型">
                {chartsData.map(function renderChartDisplayLinkList(chart, i) {
                  return (
                    <li>
                      <a
                        class="chart-type-link"
                        id={i === 0 ? "default-chart-type-link" : null}
                        href={`#${chart.healthIndicatorClassName}-chart-figure`}
                        aria-label={`切換顯示圖表為${chart.healthIndicatorName}折線圖`}
                      >
                        <span lang="en">{chart.healthIndicatorName}</span>
                      </a>
                    </li>
                  );
                })}
              </ul>

              {R.move(0, -1, chartsData).map(function renderChartFigure(chart) {
                return (
                  <figure
                    class="chart-figure"
                    id={`${chart.healthIndicatorClassName}-chart-figure`}
                    aria-describedby={`${chart.healthIndicatorClassName}-chart-figure-caption`}
                  >
                    <figcaption
                      class="chart-figure-caption"
                      id={`${chart.healthIndicatorClassName}-chart-figure-caption`}
                    >
                      {Astro.locals.getLocaleDate(fromInputValue)}至
                      {Astro.locals.getLocaleDate(toInputValue)}的
                      {chart.healthIndicatorName}折線圖。
                      {chart.healthIndicatorRange && (
                        <>
                          {R.cond([
                            [
                              R.propEq("體脂率", "healthIndicatorName"),
                              () => (
                                <>
                                  依照衛福部國民健康署
                                  <a href="https://health99.hpa.gov.tw/material/3428">
                                    活力健康手札
                                  </a>
                                </>
                              ),
                            ],
                            [
                              R.propEq("體重", "healthIndicatorName"),
                              R.always(null),
                            ],
                            [
                              R.T,
                              () => (
                                <>
                                  依照衛福部
                                  <a href="https://www.hpa.gov.tw/Pages/Detail.aspx?nodeid=542&pid=705&sid=9737">
                                    健康體重標準
                                  </a>
                                </>
                              ),
                            ],
                          ])(chart)}
                          ，以您的性別、年齡，來說{chart.healthIndicatorName}
                          需介於
                          {chart.healthIndicatorRange[0][0]}與
                          {chart.healthIndicatorRange[1][0]}
                          之間。
                        </>
                      )}
                    </figcaption>
                    <div class="chart-figure-svg-container">
                      <HealthRecordsChart chartData={chart} />
                    </div>
                  </figure>
                );
              })}
            </section>

            <section aria-labelledby="health-records-table-heading">
              <h2 id="health-records-table-heading">健康記錄表格</h2>
              <table
                aria-labelledby="health-records-table-heading"
                aria-describedby="health-records-table-caption"
              >
                <caption id="health-records-table-caption">
                  {Astro.locals.getLocaleDate(fromInputValue)}至
                  {Astro.locals.getLocaleDate(toInputValue)}
                  健康記錄
                </caption>

                <thead>
                  <tr>
                    <th>日期</th>
                    <th>身高（公分）</th>
                    <th>體重（公斤）</th>
                    <th>體脂率（百分比）</th>
                    <th>腰圍（公分）</th>
                    <th>編輯</th>
                  </tr>
                </thead>
                <tbody>
                  {healthRecords.map(function renderHealthRecordsTable({
                    date,
                    heightCm,
                    weightKg,
                    bodyFatPercentage,
                    waistlineCm,
                  }) {
                    return (
                      <tr>
                        <td>{Astro.locals.getLocaleDate(date)}</td>
                        <td>{heightCm}</td>
                        <td>{weightKg}</td>
                        <td>{bodyFatPercentage}</td>
                        <td>{waistlineCm}</td>
                        <td>
                          <a href={`/health_record/edit/${date}`}>編輯</a>
                        </td>
                      </tr>
                    );
                  })}
                </tbody>
              </table>
            </section>
          </>
        )
      }
    </main>

    <nav aria-labelledby="create-data-nav-heading">
      <h2 id="create-data-nav-heading">新增記錄</h2>

      <a href="/health_record/create">建立一筆記錄</a>
      <a href="/health_records/import">匯入多筆記錄</a>
    </nav>

    <section aria-labelledby="health-records-filter-form-heading" role="search">
      <h2 id="health-records-filter-form-heading">篩選記錄日期區間</h2>
      <a href={Astro.url.pathname} aria-current={isPageShowAllHealthRecords}
        >顯示所有記錄</a
      >
      <a href={last7DaySearchUrl} aria-current={isPageShowLast7DayHealthRecords}
        >顯示過去七天記錄</a
      >
      <a
        href={last1MonthSearchUrl}
        aria-current={isPageShowLast1MonthHealthRecords}>顯示過去一個月記錄</a
      >

      <form action="/health_records" method="get">
        <label for="from">從</label>
        <input type="date" name="from" id="from" />

        <label for="to">到</label>
        <input type="date" name="to" id="to" />

        <button type="submit">篩選</button>
        <button type="reset">清除篩選</button>
      </form>
    </section>
  </Fragment>
</Layout>

<style>
  table {
    border: 1px solid #000;
  }

  [aria-current="true"] {
    border: 1px solid #000;
  }

  .chart-display-hint {
    display: none;
  }

  .chart-figure {
    scroll-margin-block-start: 10rem;
    margin-inline: 0;

    &:not(:target) {
      display: none;
    }

    &:target .chart-display-hint {
      display: revert;
    }
  }

  .chart-figure-caption {
    margin-inline: 2rem;
  }

  .chart-figure-svg-container {
    width: 100%;
    overflow-y: auto;
  }

  .chart-figure:not(:target)
    + .chart-figure:not(:target)
    + .chart-figure:not(:target)
    + .chart-figure:last-of-type {
    display: revert;
  }
</style>
