---
import Layout from "../../layouts/Layout.astro";
import { CLOUD_MODE } from "../../utils/dataMode.js";

const [todyISOFormat] = new Date().toISOString().split("T");
---

<Layout>
  <Fragment slot="head">
    <title>
      健康小健——{
        Astro.locals.dataMode === CLOUD_MODE && "使用雲端模式"
      }建立個人檔案
    </title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="profile-create-heading">
      <h1 id="profile-create-heading">使用雲端模式——建立個人檔案</h1>

      <section aria-labelledby="profile-create-progress-heading">
        <h2 id="profile-create-progress-heading">註冊流程</h2>

        <progress value="100" max="100" aria-label="目前註冊進度百分之百"
        ></progress>

        <ol aria-labelldby="profile-create-progress-heading">
          {
            Astro.locals.dataMode === CLOUD_MODE && (
              <li>
                <span class="sr-only">已完成：</span>註冊帳號
              </li>
            )
          }
          <li><em class="sr-only">正在進行：</em>建立個人檔案</li>
        </ol>
      </section>

      <section aria-labelledby="data-requirement-explanation-section-heading">
        <h2 id="data-requirement-explanation-section-heading">資料需求說明</h2>
        <p>在開始記錄你的健康之前，我們需要先取得你的一些資料。</p>

        <h3>為什麼需要提供這些個人資料？</h3>
        <p>
          依照台灣衛福部成人健康體位標準，下方表單內欄位皆為計算時所需資料。
        </p>
      </section>

      <section aria-labelledby="profile-create-form-section-heading">
        <h2 id="profile-create-form-section-heading">填寫個人檔案</h2>

        <form action="/form/profile/create" method="post">
          <label for="birth-date-input">生日：</label>
          <span id="birth-date-input-hint"
            >計算<span lang="en">BMI</span
            >時，兒童、成人使用的標準不同，因此需要提供您的生日資訊。</span
          >
          <input
            type="date"
            name="birthDate"
            id="birth-date-input"
            aria-describedby="birth-date-input-hint"
            max={todyISOFormat}
            required
          />

          <fieldset>
            <legend>性別：</legend>
            <span id="gender-input-hint"
              >男女判別健康使用的標準不同，因此需要提供您的性別資訊。</span
            >

            <input
              type="radio"
              id="male-radio-input"
              name="gender"
              value="Male"
              required
            />
            <label for="male-radio-input">男</label><br />

            <input
              type="radio"
              id="female-radio-input"
              name="gender"
              value="Female"
              required
            />
            <label for="female-radio-input">女</label><br />
          </fieldset>

          <button type="submit">建立個人檔案</button>
        </form>
      </section>
    </main>
  </Fragment>
</Layout>
