---
import Layout from "../../layouts/Layout.astro";
import { CLOUD_MODE } from "../../utils/dataMode";
import * as R from "ramda";

const { dataMode, user, profile, getLocaleDate, setGlobalMessage } =
  Astro.locals;

if (!(dataMode === CLOUD_MODE && profile)) {
  setGlobalMessage([
    {
      type: "error",
      message: "您尚未建立個人檔案。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}

const genderLabel = R.cond([
  [R.equals("Male"), R.always("男")],
  [R.equals("Female"), R.always("女")],
  [R.T, R.always(null)],
])(profile?.gender);
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——個人檔案</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main">
      <h1>個人檔案</h1>

      <dl>
        <dt>帳號：</dt>
        <dd>{user?.name}</dd>
        <a href="/profile/name/edit">修改帳號</a>

        <dt>密碼：</dt>
        <dd>********</dd>
        <a href="/profile/password/edit">修改密碼</a>

        <dt>性別：</dt>
        <dd>{genderLabel}</dd>
        <a href="/profile/gender/edit">修改性別</a>

        <dt>生日：</dt>
        <dd>{getLocaleDate(profile?.birthDate)}</dd>
        <a href="/profile/birth_date/edit">修改生日</a>
      </dl>
    </main>
  </Fragment>
</Layout>
