---
import Layout from "../../layouts/Layout.astro";
---

<script>
  // @ts-nocheck
  let fileHandle;
  const chooseFileButton = document.getElementById("choose-file-button");
  if ("showOpenFilePicker" in window) setFilePicker(chooseFileButton);

  function setFilePicker(buttonElement) {
    buttonElement.addEventListener("click", async function setOpenFilePicker() {
      [fileHandle] = await window.showOpenFilePicker();
      const file = await fileHandle.getFile();
      const contents = await file.text();

      const fileContent = document.getElementById("file-content");
      fileContent.insertAdjacentHTML("beforebegin", contents);
    });
  }
</script>

<Layout>
  <Fragment slot="head">
    <title>健康小健——檔案模式</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main">
      <h1>檔案模式</h1>

      <noscript>
        使用檔案模式必須使用瀏覽器Javascript，若您無法開啟，建議使用雲端橂式。
      </noscript>

      <section aria-labelledby="file-mode-new-file-heading">
        <h2 id="file-mode-new-file-heading">建立新檔</h2>
        <p>如果您之前還沒有使用過，請先選定你想存放的位置。</p>

        <a href="/health_record.csv" download>設定檔案位置</a>

        <p>再使用下方的開啟舊檔開始使用。</p>
      </section>

      <section aria-labelledby="file-mode-old-file-heading">
        <h2 id="file-mode-old-file-heading">開啟舊檔</h2>

        <button id="choose-file-button">選擇檔案</button>
        <p id="file-content"></p>
      </section>
    </main>
  </Fragment>
</Layout>
