---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——資料模式設定</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="select-data-mode-page-heading">
      <h1 id="select-data-mode-page-heading">健康小健——資料模式設定</h1>

      <section aria-labelledby="select-data-mode-modes-heading">
        <h2 id="select-data-mode-modes-heading">資料儲存模式介紹</h2>

        <section aria-labelledby="select-data-mode-account-mode-heading">
          <h3 id="select-data-mode-account-mode-heading">雲端模式</h3>
          <p>將資料存放在雲端伺服器上。</p>

          <h4 id="select-data-mode-account-mode-pros-heading">優點</h4>
          <ul aria-labelledby="select-data-mode-account-mode-pros-heading">
            <li>能在不同裝置（手機、電腦）上同步資料。</li>
            <li>
              可以在網頁瀏覽器關閉<span lang="en">Javascript</span>狀態下使用。
            </li>
          </ul>

          <h4 id="select-data-mode-account-mode-cons-heading">缺點</h4>

          <ul aria-labelledby="select-data-mode-account-mode-cons-heading">
            <li>需要註冊帳號。</li>
            <li>需要連線才能使用。</li>
          </ul>

          <a href="/sign_up">第一次使用，<strong>註冊</strong>新帳號</a>
          <a href="/sign_in">已註冊過，<strong>登入</strong>我的帳號</a>
        </section>

        <section aria-labelledby="select-data-mode-file-access-mode-heading">
          <h3 id="select-data-mode-file-access-mode-heading">
            檔案模式——自動儲存
          </h3>
          <p>
            將檔案以<span lang="en"
              ><abbr title="Comma-separated Values">CSV</abbr>
            </span>格式儲存於系統中。
          </p>

          <h4 id="select-data-mode-file-access-mode-pros-heading">優點</h4>
          <ul aria-labelledby="select-data-mode-file-access-mode-pros-heading">
            <li>自動儲存，不用擔心資料遺失。</li>
            <li>能夠離線使用。</li>
            <li>檔案形式方便備份、轉移資料。</li>
            <li>
              可以使用其它應用程式編輯資料，例如：<span lang="en"
                >Microsoft Excel</span
              >。
            </li>
          </ul>

          <h4 id="select-data-mode-file-access-mode-cons-heading">缺點</h4>
          <ul aria-labelledby="select-data-mode-file-access-mode-cons-heading">
            <li>目前僅有Desktop、iOS、Andoird APP支援此模式。</li>
            <li>
              需在網頁瀏覽器需開啟<span lang="en">Javascript狀態下使用。</span>
            </li>
          </ul>

          <a href="#">第一次使用，建立新檔案</a>
          <a href="#">已建立過，匯入舊檔案</a>
        </section>

        <section aria-labelledby="select-data-mode-file-input-mode-heading">
          <h3 id="select-data-mode-file-input-mode-heading">
            檔案模式——手動匯入、匯出
          </h3>
          <p>
            將檔案以<span lang="en"
              ><abbr title="Comma-separated Values">CSV</abbr>
            </span>格式儲存於系統中。
          </p>

          <h4 id="select-data-mode-file-input-mode-pros-heading">優點</h4>
          <ul aria-labelledby="select-data-mode-file-input-mode-pros-heading">
            <li>能夠離線使用。</li>
            <li>檔案形式方便備份、轉移資料。</li>
            <li>
              可以使用其它應用程式編輯資料，例如：<span lang="en"
                >Microsoft Excel</span
              >。
            </li>
          </ul>

          <h4 id="select-data-mode-file-input-mode-cons-heading">缺點</h4>
          <ul aria-labelledby="select-data-mode-file-input-mode-cons-heading">
            <li>
              操作繁瑣，每次使用皆需先手動上傳檔案匯入資料，編輯後也需手動匯出下載。
            </li>
            <li>
              需在網頁瀏覽器需開啟<span lang="en">Javascript狀態下使用。</span>
            </li>
          </ul>

          <a href="#">第一次使用，建立新檔案</a>
          <a href="/file_mode/import">已建立過，匯入舊檔案</a>
        </section>
      </section>
    </main>
  </Fragment>
</Layout>
