---
import Layout from "../../../../layouts/Layout.astro";
import { CLOUD_MODE } from "../../../../utils/dataMode";

const { dataMode, profile, setGlobalMessage } = Astro.locals;

if (!(dataMode === CLOUD_MODE && profile)) {
  setGlobalMessage([
    {
      type: "error",
      message: "您尚未建立個人檔案。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}
---

<script>
  import { zxcvbnAsync, zxcvbnOptions, debounce } from "@zxcvbn-ts/core";
  import {
    dictionary as commonDictionary,
    adjacencyGraphs as commonAdjacencyGraphs,
  } from "@zxcvbn-ts/language-common";
  import {
    dictionary as enDictionary,
    translations as enTranslations,
  } from "@zxcvbn-ts/language-en";

  const options = {
    translations: enTranslations,
    graphs: commonAdjacencyGraphs,
    dictionary: {
      ...commonDictionary,
      ...enDictionary,
    },
  };
  zxcvbnOptions.setOptions(options);

  const passwordStrengthOutputElement = document.getElementById(
    "password-strength-output"
  );
  const passwordStrengthMeterElement =
    document.getElementById("password-strength");

  const passwordStrength = new Proxy(
    { strength: null, score: null },
    {
      set(obj, prop, value) {
        switch (prop) {
          case "strength":
            passwordStrengthOutputElement.innerHTML = value;
            break;
          case "score":
            passwordStrengthMeterElement.value = value;
            break;
          default:
            break;
        }

        return Reflect.set(obj, prop, value);
      },
    }
  );

  const passwordInputElement = document.getElementById("password-new");
  passwordInputElement.addEventListener("keydown", () => {
    debouncedZxcvbn();
  });

  const debouncedZxcvbn = debounce(async function checkPasswordStrength() {
    const passwordStrengthCheckResult = zxcvbnAsync(passwordInputElement.value);
    const { score } = await passwordStrengthCheckResult;
    passwordStrength.score = score + 1;
    const passwordStrengthText = "密碼強度：";
    switch (score) {
      case 0:
        passwordStrength.strength = `${passwordStrengthText}極弱`;
        break;
      case 1:
        passwordStrength.strength = `${passwordStrengthText}弱`;
        break;
      case 2:
        passwordStrength.strength = `${passwordStrengthText}中等`;
        break;
      case 3:
        passwordStrength.strength = `${passwordStrengthText}強`;
        break;
      case 4:
        passwordStrength.strength = `${passwordStrengthText}極強`;
        break;
      default:
        passwordStrength.strength = "";
    }
  }, 200);
</script>

<Layout>
  <Fragment slot="head">
    <title>健康小健——修改密碼</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main">
      <h1>修改密碼</h1>

      <form action="/form/profile/password/edit" method="post">
        <label for="password-old">原密碼：</label>
        <input
          type="password"
          name="passwordOld"
          id="password-old"
          required
          min="8"
        />

        <label for="password-new">新密碼：</label>
        <span class="form-hint" id="form-password-hint">至少要八個字元</span>
        <input
          type="password"
          name="password-new"
          id="password-new"
          aria-describedby="form-password-hint"
          required
          minlength="8"
          placeholder=" "
        />
        <output id="password-strength-output" for="password" name="密碼強度"
        ></output>
        <meter
          id="password-strength"
          min="1"
          max="5"
          low="2"
          optimum="3"
          high="5"
          value="0"
          aria-hidden="true"></meter>

        <label for="password-new-confirm">密碼確認：</label>
        <span class="form-hint" id="form-password-new-confirm-hint"
          >再輸入一次密碼</span
        >
        <input
          type="password"
          name="passwordConfirm"
          id="password-new-confirm"
          aria-describedby="form-password-new-confirm-hint"
          required
          minlength="8"
        />

        <button type="submit">送出</button>
      </form>
    </main>
  </Fragment>
</Layout>

<style>
  form {
    display: block flex;
    flex-direction: column;
  }
</style>
