---
import Layout from "../../layouts/Layout.astro";
import HealthRecordForm from "../../components/HealthRecordForm.astro";
import { CLOUD_MODE } from "../../utils/dataMode";
import { CREATE_MODE } from "../../utils/formMode";

if (!(Astro.locals.dataMode === CLOUD_MODE && Astro.locals.profile)) {
  Astro.locals.setGlobalMessage([
    {
      type: "error",
      message: "您需要先建立個人檔案，才能開始其它操作。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——新增單筆健康記錄</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="create-health-record-heading">
      <h1 id="create-health-record-heading">新增單筆健康記錄</h1>

      <section aria-labelledby="create-health-record-form-section-heading">
        <h2 id="create-health-record-form-section-heading">新增健康記錄表單</h2>

        <HealthRecordForm dataMode={CREATE_MODE} />
      </section>
    </main>
  </Fragment>
</Layout>

<style>
  form {
    display: block flex;
    flex-direction: column;
  }
</style>
