---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
---
<script>
  // @ts-nocheck
  import { zxcvbnAsync, zxcvbnOptions, debounce } from "@zxcvbn-ts/core";
  import {
    dictionary as commonDictionary,
    adjacencyGraphs as commonAdjacencyGraphs,
  } from "@zxcvbn-ts/language-common";
  import {
    dictionary as enDictionary,
    translations as enTranslations,
  } from "@zxcvbn-ts/language-en";

  const options = {
    translations: enTranslations,
    graphs: commonAdjacencyGraphs,
    dictionary: {
      ...commonDictionary,
      ...enDictionary,
    },
  };
  zxcvbnOptions.setOptions(options);

  const passwordStrengthOutputElement = document.getElementById(
    "password-strength-output"
  );
  const passwordStrengthMeterElement =
    document.getElementById("password-strength");

  const passwordStrength = new Proxy(
    { strength: null, score: null },
    {
      set(obj, prop, value) {
        switch (prop) {
          case "strength":
            passwordStrengthOutputElement.innerHTML = value;
            break;
          case "score":
            passwordStrengthMeterElement.value = value;
            break;
          default:
            break;
        }

        return Reflect.set(obj, prop, value);
      },
    }
  );

  const passwordInputElement = document.getElementById("password");
  passwordInputElement.addEventListener("keydown", () => {
    debouncedZxcvbn();
  });

  const debouncedZxcvbn = debounce(async function checkPasswordStrength() {
    const passwordStrengthCheckResult = zxcvbnAsync(passwordInputElement.value);
    const { score } = await passwordStrengthCheckResult;
    passwordStrength.score = score + 1;
    const passwordStrengthText = "密碼強度：";
    switch (score) {
      case 0:
        passwordStrength.strength = `${passwordStrengthText}極弱`;
        break;
      case 1:
        passwordStrength.strength = `${passwordStrengthText}弱`;
        break;
      case 2:
        passwordStrength.strength = `${passwordStrengthText}中等`;
        break;
      case 3:
        passwordStrength.strength = `${passwordStrengthText}強`;
        break;
      case 4:
        passwordStrength.strength = `${passwordStrengthText}極強`;
        break;
      default:
        passwordStrength.strength = "";
    }
  }, 200);
</script>

<Layout>
  <Fragment slot="head">
    <title>健康小健——雲端模式註冊帳號</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="sign-up-heading">
      <h1 id="sign-up-heading">使用雲端模式——註冊帳號</h1>

      <section aria-labelledby="sign-up-progress-heading">
        <h2 id="sign-up-progress-heading">註冊流程</h2>
        <progress value="50" max="100" aria-label="目前註冊進度百分之五十"
        ></progress>

        <ol aria-labelldby="sign-up-progress-heading">
          <li><em class="sr-only">正在進行：</em>註冊帳號</li>
          <li>建立個人檔案</li>
        </ol>
      </section>

      <section aria-labelledby="sign-up-form-heading">
        <h2 id="sign-up-form-heading">註冊帳號表單</h2>

        <form
          class="sign-up-form"
          action="/form/sign_up"
          method="post"
          aria-labelledby="sign-up-form-heading"
        >
          <label for="name">帳號：</label>
          <span class="sign-up-form-hint" id="sign-up-form-name-hint"
            >至少使用一個字元，僅能使用小寫字母、數字、底線<span aria-label=" "
              >（_）</span
            >
          </span>
          <input
            type="text"
            name="name"
            id="name"
            required
            aria-describedby="sign-up-form-name-hint"
            pattern="[a-z0-9_]+"
          />

          <label for="password">密碼：</label>
          <span class="sign-up-form-hint" id="sign-up-form-password-hint"
            >至少要八個字元</span
          >
          <input
            type="password"
            name="password"
            id="password"
            aria-describedby="sign-up-form-password-hint"
            required
            minlength="8"
            placeholder=" "
          />
          <output id="password-strength-output" for="password" name="密碼強度"
          ></output>
          <meter
            id="password-strength"
            min="1"
            max="5"
            low="2"
            optimum="3"
            high="5"
            value="0"
            aria-hidden="true"></meter>

          <label for="passwordConfirm">密碼確認：</label>
          <span
            class="sign-up-form-hint"
            id="sign-up-form-password-confirm-hint">再輸入一次密碼</span
          >
          <input
            type="password"
            name="passwordConfirm"
            id="password-confirm"
            aria-describedby="sign-up-form-password-confirm-hint"
            required
            minlength="8"
          />

          <button type="submit">註冊</button>
        </form>
      </section>
    </main>
  </Fragment>
</Layout>

<style>
  .sign-up-form {
    display: block flex;
    flex-direction: column;
  }

  .sign-up-form-hint {
    font-size: 0.8rem;
  }

  #password:placeholder-shown
    ~ :is(#password-strength, [for="password-strength"]) {
    visibility: hidden;
  }
</style>
