---
const messagesValue = Astro.cookies.get("globalMessages")?.value;
const messages = messagesValue ? JSON.parse(messagesValue) : [];
const hasMessages = Boolean(messages.length);
---

{
  hasMessages && (
    <ul role="alert" aria-labelledby="base-alert-heading" aria-live="assertive">
      <span id="base-alert-heading" class="sr-only">
        通知
      </span>
      {messages.map((m) => (
        <li>
          <span aria-label="錯誤">{m.type === "error" ? "⚠︎" : ""}</span>
          {m.message}
        </li>
      ))}
    </ul>
  )
}
