---
import * as R from "ramda";
import { EDIT_MODE } from "../utils/formMode.js";

const { dataMode, date, heightCm, weightKg, bodyFatPercentage, waistlineCm } =
  Astro.props;

const formTypeTextCreateOrEdit = R.cond([
  [R.equals(EDIT_MODE), R.always("編輯")],
  [R.T, R.always("新增")],
])(dataMode);

const apiUrlCreateOrEdit = R.cond([
  [R.equals(EDIT_MODE), R.always("edit")],
  [R.T, R.always("create")],
])(dataMode);

const notNilToIdOtherwiseNull = notNilDoThisOr(R.identity, R.always(null));

const [todyISOFormatDate] = new Date().toISOString().split("T");
const dateValue = notNilDoThisOr(R.identity, R.always(todyISOFormatDate))(date);

const [heightCmValue, weightKgValue, bodyFatPercentageValue, waistlineCmValue] =
  R.map(notNilToIdOtherwiseNull, [
    heightCm,
    weightKg,
    bodyFatPercentage,
    waistlineCm,
  ]);

function notNilDoThisOr(doThis, or) {
  return R.cond([
    [R.isNotNil, doThis],
    [R.T, or],
  ]);
}
---

<form
  action={`/form/health_record/${apiUrlCreateOrEdit}`}
  aria-labelledby="health-record-form-section-heading"
  method="post"
>
  <label for="date-input" hidden={dataMode === EDIT_MODE}>日期：</label><span
    id="date-input-hint"
    hidden={dataMode === EDIT_MODE}>同一天只能有一筆記錄</span
  ><input
    type="date"
    name="date"
    id="date-input"
    aria-describedby="date-input-hint"
    value={dateValue}
    readonly={dataMode === EDIT_MODE}
    hidden={dataMode === EDIT_MODE}
    required
  />

  <label for="height-input">身高（公分）：</label>
  <input
    type="number"
    name="heightCm"
    id="height-input"
    inputmode="numeric"
    aria-describedby="height-input-hint"
    min="0"
    value={heightCmValue}
    required
  />

  <label for="weight-input">體重（公斤）：</label>
  <input
    type="number"
    name="weightKg"
    id="weight-input"
    inputmode="numeric"
    aria-describedby="weight-input-hint"
    min="0"
    value={weightKgValue}
    required
  />

  <label for="body-fat-percentage-input">體脂率（百分比）：</label>
  <input
    type="number"
    name="bodyFatPercentage"
    id="body-fat-percentage-input"
    inputmode="numeric"
    aria-describedby="body-fat-percentage-input-hint"
    min="0"
    value={bodyFatPercentageValue}
  />

  <label for="weistline-cm-input">腰圍（公分）：</label>
  <input
    type="number"
    name="waistlineCm"
    id="weistline-cm-input"
    inputmode="numeric"
    aria-describedby="weistline-cm-input-hint"
    min="0"
    value={waistlineCmValue}
  />

  <button type="submit">{formTypeTextCreateOrEdit}</button>
</form>

<style>
  form {
    display: block flex;
    flex-direction: column;
  }
</style>
