---
import { format } from "date-fns";
import * as R from "ramda";

const { chartData } = Astro.props;

const [
  [svgViewBoxX, svgViewBoxY] = [],
  [svgViewBoxWidth, svgViewBoxHeight] = [],
] = chartData.svgViewBox;

const [
  [
    rangeLowerBondTextLabel,
    [
      [rangeLowerBondLineX1, rangeLowerBondLineY1] = [],
      [rangeLowerBondLineX2, rangeLowerBondLineY2] = [],
    ] = [],
    showRangeLowerBond,
  ] = [],
  [
    rangeUpperBondTextLabel,
    [
      [rangeUpperBondLineX1, rangeUpperBondLineY1] = [],
      [rangeUpperBondLineX2, rangeUpperBondLineY2] = [],
    ] = [],
    showRangeUpperBond,
  ] = [],
] = chartData.healthIndicatorRange ?? [];

const rangeLowerBondTextLabelX = rangeLowerBondLineX1;
const rangeLowerBondTextLabelY = rangeLowerBondLineY1;
const rangeUpperBondTextLabelX = rangeUpperBondLineX1;
const rangeUpperBondTextLabelY = rangeUpperBondLineY1;

const [[xAxisLineX1, xAxisLineY1] = [], [xAxisLineX2, xAxisLineY2] = []] =
  chartData.xAxisLineCoords;

const [yAxisLineMinValue, yAxisLineMaxValue] =
  chartData.yAxisLineMinMaxValue ?? [];
const yAxisLineMinValueX = xAxisLineX1;
const yAxisLineMinValueY = xAxisLineY1;
const yAxisLineMaxValueX = 0;
const yAxisLineMaxValueY = 0;

const getPolylineValue = R.compose(
  R.trim,
  R.reduce(
    (
      acc,
      {
        valueData: {
          coords: [x, y],
        },
      }
    ) => `${acc}${x},${y} `,
    ""
  ),
  R.filter(R.compose(R.isNotNil, R.prop("valueData")))
);

const getDiffDayText = R.compose(
  R.ifElse(
    R.isNotNil,
    (value) => `與上一筆記錄間隔${String(value)}天，`,
    R.always("")
  )
);

const getDiffValueText = R.cond([
  [R.isNil, R.always("")],
  [R.lt(0), (value) => `且上升${parseFloat(value?.toFixed?.(2))}。`],
  [R.gt(0), (value) => `且下降${parseFloat(Math.abs(value).toFixed(2))}。`],
  [R.equals(0), R.always("且維持相同數值。")],
  [R.T, R.always("")],
]);

const getRangeComparisonText = R.cond([
  [R.equals([true, false, false]), R.always("低於健康標準。")],
  [R.equals([false, true, false]), R.always("於健康標準內。")],
  [R.equals([false, false, true]), R.always("超出健康標準。")],
  [R.T, R.always("")],
]);
---

<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width={chartData.svgWidth}
  viewBox=`${svgViewBoxX} ${svgViewBoxY} ${svgViewBoxWidth} ${svgViewBoxHeight}`
  tabindex="0"
  role="graphics-document"
>
  <title id="chart-title">{chartData.healthIndicatorName}折線圖</title>

  <!-- x axis -->
  <line
    x1={xAxisLineX1}
    y1={xAxisLineY1}
    x2={xAxisLineX2}
    y2={xAxisLineY2}
    stroke="black"
    aria-hidden="true"></line>

  <!-- x axis label -->
  {
    chartData.xAxesCoords.map(function renderXAxis([date, [x, y]]) {
      return (
        <>
          <text
            aria-hidden="true"
            x={x}
            y={y + 30}
            aria-hidden="true"
            text-anchor="middle"
          >
            {format(new Date(date), "dd")}
          </text>

          <line
            x1={x}
            y1={y}
            x2={x}
            y2={y + 10}
            stroke="black"
            aria-hidden="true"
          />
        </>
      );
    })
  }

  <!-- min max value -->
  {
    chartData.yAxisLineMinMaxValue && (
      <g id="minMaxValueText">
        <text
          x={yAxisLineMinValueX}
          y={yAxisLineMinValueY}
          text-anchor="end"
          transform="translate(-10, 0)"
          alignment-baseline="middle"
          aria-hidden="true"
        >
          {yAxisLineMinValue}
        </text>

        <text
          x={yAxisLineMaxValueX}
          y={yAxisLineMaxValueY}
          text-anchor="end"
          transform="translate(-10, 0)"
          alignment-baseline="middle"
          aria-hidden="true"
        >
          {yAxisLineMaxValue}
        </text>
      </g>
    )
  }

  <!-- indicator range -->
  {
    chartData.healthIndicatorRange && (
      <>
        <g id="indicator-range" clip-path="url(#indicator-range-clip-path)">
          {showRangeLowerBond && (
            <>
              <line
                x1={rangeLowerBondLineX1}
                y1={rangeLowerBondLineY1}
                x2={rangeLowerBondLineX2}
                y2={rangeLowerBondLineY2}
                stroke="black"
                aria-hidden="true"
              />

              <text
                x={rangeLowerBondTextLabelX}
                y={rangeLowerBondTextLabelY}
                text-anchor="end"
                transform="translate(-10, 0)"
                alignment-baseline="middle"
                aria-hidden="true"
              >
                {rangeLowerBondTextLabel}
              </text>
            </>
          )}

          {showRangeUpperBond && (
            <>
              <line
                x1={rangeUpperBondLineX1}
                y1={rangeUpperBondLineY1}
                x2={rangeUpperBondLineX2}
                y2={rangeUpperBondLineY2}
                stroke="black"
                aria-hidden="true"
              />

              <text
                x={rangeUpperBondTextLabelX}
                y={rangeUpperBondTextLabelY}
                text-anchor="end"
                transform="translate(-10, 0)"
                alignment-baseline="middle"
                aria-hidden="true"
              >
                {rangeUpperBondTextLabel}
              </text>
            </>
          )}

          <rect
            x={rangeUpperBondLineX1}
            y={rangeUpperBondLineY1}
            width={chartData.svgWidth}
            height={rangeLowerBondLineY1 - rangeUpperBondLineY1}
            opacity=".2"
            aria-hidden="true"
          />
        </g>
      </>
    )
  }

  <!-- value section -->
  <g id="value-section">
    {
      R.isEmpty(chartData.healthRecordValuesCoords) ? (
        <text class="sr-only">
          目前的顯示的日期區間沒有任何{chartData.healthIndicatorName}資料。
        </text>
      ) : (
        chartData.healthRecordValuesCoords.map(function renderValuePoint({
          date,
          valueData,
        }) {
          if (R.isNil(valueData)) return null;
          const {
            value,
            coords: [x, y],
            info,
            rangeComparison,
          } = valueData;

          const dateText = Astro.locals.getLocaleDate(date);
          const diffDayText = getDiffDayText(info?.diffDay);
          const diffValueText = getDiffValueText(info?.value);
          const rangeComparisonText = getRangeComparisonText(rangeComparison);
          const valueText = parseFloat(value.toFixed(1));
          const valueLabel = `${dateText}：${valueText}。${diffDayText}${diffValueText}${rangeComparisonText}。`;

          return (
            <g
              id="marker"
              role="graphics-symbol"
              tabindex="0"
              aria-label={valueLabel}
            >
              <text
                text-anchor="middle"
                alignment-baseline="middle"
                aria-hidden="true"
                transform="translate(20, 20)"
                x={x}
                y={y}
                style="width: 0.625rem; overflow: hidden;"
              >
                {valueText}
              </text>

              <circle cx={x} cy={y} r="5" aria-hidden="true" />
            </g>
          );
        })
      )
    }

    <polyline
      id="marker-line"
      points={getPolylineValue(chartData.healthRecordValuesCoords)}
      fill="none"
      stroke="black"
      aria-hidden="true"></polyline>
  </g>

  <!-- drop line -->
  <g id="drop-line">
    {
      chartData.dropLineCoords.map(function renderDropLine([
        [x1, y1],
        [x2, y2],
      ]) {
        return (
          <line
            x1={x1}
            y1={y1}
            x2={x2}
            y2={y2}
            stroke="black"
            stroke-dasharray="20"
            aria-hidden="true"
          />
        );
      })
    }
  </g>
</svg>
