---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——使用雲端模式登入帳號</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="sign-in-heading">
      <h1 id="sign-in-heading">使用雲端模式——登入帳號</h1>

      <section aria-labelledby="sign-in-form-heading">
        <h2 id="sign-in-form-heading">登入帳號表單</h2>

        <form class="sign-in-form" action="/form/sign_in" method="post">
          <label for="sign-in-name-input">帳號：</label>
          <input type="text" name="name" id="sign-in-name-input" required />

          <label for="sign-in-password-input">密碼：</label>
          <input
            type="password"
            name="password"
            id="sign-in-password-input"
            required
            minlength="8"
          />

          <button type="submit">登入</button>
        </form>
      </section>
    </main>
  </Fragment>
</Layout>
