---
import Layout from "../../../../layouts/Layout.astro";
import { CLOUD_MODE } from "../../../../utils/dataMode";

const { dataMode, profile, setGlobalMessage } = Astro.locals;

if (!(dataMode === CLOUD_MODE && profile)) {
  setGlobalMessage([
    {
      type: "error",
      message: "您尚未建立個人檔案。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}

const [todyISOFormat] = new Date().toISOString().split("T");
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——修改生日</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main">
      <h1>修改生日</h1>

      <form action="/form/profile/gender/edit" method="post">
        <input type="hidden" value={profile.gender} name="gender" />

        <label for="birth-date-input">生日：</label>
        <input
          type="date"
          name="birthDate"
          id="birth-date-input"
          aria-describedby="birth-date-input-hint"
          max={todyISOFormat}
          value={profile.birthDate}
          required
        />
        <button type="submit">送出</button>
      </form>
    </main>
  </Fragment>
</Layout>
