---
import Layout from "../../../layouts/Layout.astro";
import { CLOUD_MODE } from "../../../utils/dataMode";
import * as R from "ramda";

if (!(Astro.locals.dataMode === CLOUD_MODE && Astro.locals.profile)) {
  Astro.locals.setGlobalMessage([
    {
      type: "error",
      message: "您需要先建立個人檔案，才能開始其它操作。",
    },
  ]);
  return Astro.redirect("/profile/create", 303);
}

const healthRecordGetResponse = await fetch(
  `${import.meta.env.API_URL}/health_records?from=${Astro.params.date}&to=${
    Astro.params.date
  }`,
  {
    method: "GET",
    headers: new Headers({
      Cookie: Astro.locals.cookieHeader,
    }),
  },
);

const healthRecordGetJsonData = await healthRecordGetResponse.json();
let date, heightCm, weightKg, bodyFatPercentage, waistlineCm;

switch (healthRecordGetResponse.status) {
  case 200:
    if (R.isEmpty(healthRecordGetJsonData.payload)) {
      Astro.locals.setGlobalMessage([
        {
          type: "error",
          message: `找不到${Astro.params.date}的記錄。`,
        },
      ]);
      return Astro.redirect(`/health_records`, 303);
    }
    [{ date, heightCm, weightKg, bodyFatPercentage, waistlineCm }] =
      healthRecordGetJsonData.payload;
    break;
  default:
    Astro.locals.setGlobalMessage(Astro.locals.err500Message);
    return Astro.redirect(`/health_records`, 303);
}
---

<Layout>
  <Fragment slot="head">
    <title>健康小健——確認刪除{date}健康記錄</title>
  </Fragment>

  <Fragment slot="body">
    <main id="main" aria-labelledby="create-health-record-heading">
      <h1 id="create-health-record-heading">
        確認刪除{date}健康記錄
      </h1>

      <section aria-labelledby="create-health-record-form-section-heading">
        <h2 id="create-health-record-form-section-heading">{date}健康記錄</h2>

        <form action=`/form/health_record/delete/${date}` method="post">
          <dl>
            <dt>日期：</dt>
            <dd>{date}</dd>

            <dt>身高（公分）：</dt>
            <dd>{heightCm}</dd>

            <dt>體重（公斤）：</dt>
            <dd>{weightKg}</dd>
            {
              bodyFatPercentage && (
                <>
                  <dt>體脂率（百分比）：</dt>
                  <dd>{bodyFatPercentage}</dd>
                </>
              )
            }
            {
              waistlineCm && (
                <>
                  <dt>腰圍（公分）：</dt>
                  <dd>{waistlineCm}</dd>
                </>
              )
            }
          </dl>

          <button type="submit">刪除</button>
          <a href=`/health_record/edit/${date}`>返回編輯</a>
        </form>
      </section>
    </main>
  </Fragment>
</Layout>
