---
import GlobalAlert from "../components/GlobalAlert.astro";
import SkipToMain from "../components/SkipToMain.astro";
---

<script>
  // @ts-nocheck
  import * as R from "ramda";

  const noscriptShowElements = document.querySelectorAll(
    ".noscript-show-script-hide",
  );
  R.forEach(setDisplayNoneToHideElement, Array.from(noscriptShowElements));

  const noscriptHideElements = document.querySelectorAll(
    ".noscript-hide-script-show",
  );
  R.forEach(removeClassToDisplayElement, Array.from(noscriptHideElements));

  function removeClassToDisplayElement(element) {
    element.classList.remove("noscript-hide-script-show");
  }
  function setDisplayNoneToHideElement(element) {
    element.style = "display: none;";
  }
</script>

<html lang="cmn-hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <slot name="head" />
  </head>

  <body>
    <SkipToMain />
    <GlobalAlert />

    <nav>
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/select_data_mode">select_data_mode</a></li>
        <li><a href="/sign_up">sign_up</a></li>
        <li><a href="/sign_in">sign_in</a></li>
        <li><a href="/profile/create">profile/create</a></li>
        <li><a href="/profile">profile</a></li>
        <li><a href="/health_records">health_records</a></li>
        <li><a href="/file_mode/open/">file_mode/open</a></li>

        <form action="/form/sign_out" method="post">
          <button>sign_out</button>
        </form>
      </ul>
    </nav>

    <slot name="body" />
  </body>
</html>

<style is:global>
  @import url("sanitize.css");
  @import url("sanitize.css/forms.css");
  @import url("sanitize.css/typography.css");
  @import url("sanitize.css/assets.css");

  .sr-only:not(:focus, :active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .noscript-hide-script-show {
    display: none;
  }

  noscript {
    display: contents;
  }
</style>
